@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

  .about-section {
    background-image: url('https://live.staticflickr.com/8084/8332011594_bdf63c609c_b.jpg') ;
    background-size: 80%;
    height:600px;
    background-color: #000000;
    overflow: hidden;
    padding: 100px 0;
  }

.inner-id {
  width: 55%;
  float: right;
  background-color: black;
  color:white;
  padding: 150px;
}

.inner-id h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 16px;
  color: white;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-id {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-id {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-id {
    padding: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bellota Text", cursive;
}

.id {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.id .card {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  background: #bbe2e0;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 20px;
}
.id .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.id .card .content .imgBx {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.id .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.id .card .content .contentBx h4 {
  color: #36187d;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
.id .card .content .contentBx h5 {
  color: #6c758f;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.id .card .content .sci {
  margin-top: 20px;
}
.id .card .content .sci a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}
.id .card .content .sci a:hover {
  color: #0196e3;
}
/*   colors
        #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */