<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
<link rel="stylesheet" th:href="@{/css/about.css}">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
	
</head>

<body>
	<div>
		<div>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">Agri Bazaar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-uppercase">
						<li class="nav-item active"><a class="nav-link"
							th:href="@{/}">Home </a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{about}">About</a>
						</li>

						<li class="nav-item"><a class="nav-link" th:href="@{signin}"
							tabindex="-1" arial-disabled="true">Login</a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{signup}"
							tabindex="-1" arial-disabled="true">Signup</a></li>
							<li class="nav-item"><a class="nav-link "
							th:href="@{contact}" tabindex="-1" arial-disabled="true">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="about-section">
			<div class="inner-id">
				<h1>About Us</h1>
				<p class="text">AgriBazaar is a web application in which farmers
					will be able to show case there agri products on website and buyers
					can do a bid on particular products. The main objective of this
					project is to obtain best value and the highest price for the
					farmers agri products.</p>
				<div class="skills"></div>
			</div>
		</div>
		<br />
		<h1 align="center">
			<strong>OUR TEAM</strong>
		</h1>
		<div class="id">
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="img/bhavesh.jpeg" alt="" />
					</div>
					<div class="contentBx">
						<h4>Bhavesh</h4>
						<h5>Developer</h5>
					</div>
					<div class="sci">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="img/Namdev.jpeg" alt="" />
					</div>
					<div class="contentBx">
						<h4>Namdev</h4>
						<h5>Developer</h5>
					</div>
					<div class="sci">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="img/anjali.jpeg" alt="" />
					</div>
					<div class="contentBx">
						<h4>Anjali</h4>
						<h5>Developer</h5>
					</div>
					<div class="sci">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="img/084_Rupali Niture_JH.JPG" alt="" />
					</div>
					<div class="contentBx">
						<h4>Rupali</h4>
						<h5>Developer</h5>
					</div>
					<div class="sci">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<div class="imgBx">
						<img src="img/033_Girish_Solunke_KH.jpg" alt="" />
					</div>
					<div class="contentBx">
						<h4>Girish</h4>
						<h5>Developer</h5>
					</div>
					<div class="sci">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
